@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Work+Sans');
</style>

/**
* -----------
* Global
* -----------
*/

body {
  margin: auto;
  padding-bottom: 75px;
  font-family: 'Work Sans, sans-serif';
  font-weight: 400;
  color: #303044;
}

p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea {
  font-size: 1.4em;
  line-height: 1.4;
}

li {
  margin: 5px 0;
}

p {
  margin: 15px 0;
}

b, strong, optgroup {
  font-weight: 700;
}

h1 {
  margin: 25px 0;
  font-size: 4.5em;
  font-weight: 700;
}

h2 {
  margin: 25px 0;
  font-size: 3.5em;
  font-weight: 200;
}

h3 {
  margin: 25px 0;
  font-size: 2.6em;
  font-weight: 200;
}

h4 {
  margin: 20px 0;
  font-size: 1.6em;
}

h5 {
  margin: 20px 0;
  font-size: 1.6em;
}

h6 {
  margin: 15px 0;
  font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  line-height: 1;
}

a, button {
  color: #d86324;
  text-decoration: none;
}
a:hover, button:hover {
  text-decoration: underline;
}

button {
  background-color: transparent;
  color: #d86324;
}


/**
* -----------
* Layout
* -----------
*/

.container {
  margin: auto;
  padding: 0 15px;
  width: 1440px;
  max-width: 100%;
}

.text-container {
  margin: auto;
  max-width: 960px;
}

.columns {
  display: flex;
}

.column {
  max-width: 100%;
}

.column + .column {
  margin-left: 40px;
}

.column--50 {
  width: 50%;
}

.column--grow {
  flex-grow: 1;
}

.column--shrink {
  flex-shrink: 1;
}

.column--580 {
  width: 580px;
}


/**
* -----------
* Objects
* -----------
*/

.list-inline {
  display: block;
  margin: 0;
  padding: 0;
}
.list-inline > * {
  display: inline-block;
  margin: 5px;
  padding: 0;
}

@media screen and (min-width: 780px) {
  .list-flex {
    display: flex;
    justify-content: space-between;
  }
}

.link-block {
  display: block;
  color: inherit;
}
.link-block:hover {
  text-decoration: none;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.align-justify.align-center {
  text-align-last: center;
}

/**
* texts & images
*/

.important {
  font-size: 2.5em;
}

.introduction {
  font-size: 1.7em;
}

.chapo {
  width: 960px;
  font-family: Work Sans;
  font-size: 25px; 
  text-align: center;
  margin: auto;
  margin-bottom: 30px;  
}

.chaposingle{
  font-family: Work Sans;
  font-size: 25px; 
  text-align: justify;
  margin-bottom: 28px;
  margin-left: 40px;
  margin-right: 40px;
}

.conseils {
  font-family: 'Work Sans';
  font-size: 2em;
  text-align: justify;
  margin-bottom: 55px;
  margin-left: 40px;
  margin-right: 40px;
}


.full-width {
  display: block;
  width: 100%;
  margin: 50px auto;
}



/**
* -----------
* Components
* -----------
*/


/**
* header
*/
.header {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
  width: 1440px;
  height: 462px;
  background: url("../img/background.jpg");
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
}


.header__content {
  display: block;
  margin: 0;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 25px;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Montserrat", "Avenir Next", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 4px #000;
}
.header__content:hover {
  text-decoration: none;
}

.header__title {
  font-size: 5.4em;
   font-size: 64px;
  font-family: Montserrat, bold;
}

.header__subtitle {
  margin: 0;
  font-size: 42px;
  font-weight: 200;
  text-shadow: 1px 1px 5px #000000;
  font-family: Montserrat; 
}


.header__nav {
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
}

.nav-main__item {
  display: inline-block;
}

.nav-main__link {
  display: block;
  color: #fff;
  width: 218px;
  height: 26px;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Work Sans';
  
}
.nav-main__link:hover {
  text-decoration: none;
  color: #d86324;
  width: 218px;
  height: 21px;
  font-size: 18px;
  font-weight: 300;


}


/**
* separator
*/
.separator {
  display: block;
  margin: 50px auto;
  width: 200px;
  height: 1px;
  border: none;
}

.Croix-separator {
  display: block;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
}


/**
* honey-pot
*/

.honey-pot-list {
  display: flex;
  justify-content: center;
}

.honey-pot {
  display: inline-block;
  margin: auto;
  text-align: center;
}

.honey-pot__link {
  color: #303044;
}
.honey-pot__link:hover {
  color: #d86324;
}

.honey-pot__thumbnail {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  filter: grayscale(0);
}

.honey-pot__thumbnail:hover {
  filter: grayscale(60%);
}

.honey-pot__thumbnail img {
  display: block;
}

.honey-pot__title {
  margin: 0;
  font-size: 2em;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600px;
}

.honey-pot__subtitle {
  margin: 0;
  font-size: 1.6em;
  font-weight: 200;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 300;
}



/**
* news
*/

.news__link:hover {
  color: #d86324;
  line-height: 16px;
}

.news__link:hover .news__thumbnail {
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
  -webkit-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;

}


.news__thumbnail {
  margin-bottom: 10px;
  filter: grayscale(0);
}

.news__image {
  display: block;
  width: 100%;
}

.news__date {
  margin: 0;
  font-size: 1.8em;
  color: #e8a27d;
  font-family: Montserrat;
}

.news__title {
  margin: 0 0 15px;
  line-height: 1.4;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  font-weight: bold;
}

.news__text {
  font-family: 'Work Sans';
  font-size: 25px;
  font-weight: 400;
}

.news__text1 {
  font-family: 'Work Sans';
  font-size: 20px;
  margin-left: 90px;
  margin-right: 90px;
}

.news__large {
  margin-bottom: 30px;
  font-size: 2.25em;
  color: #1a1a1a;
  font-family: 'Work Sans'
}

.news__bd {
  margin: 0 0 15px;
  line-height: 1.4;
  font-family: Montserrat;
  font-size: 42px;
  text-align: justify;
}

.news__large1 {
  font-family: 'Work Sans';
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}

.page-list .news {
  margin: 0 auto 20px auto;
  border-bottom: 1px solid #b0b0c5;
  padding-bottom: 20px;
  max-width: 320px;
}

.news--main {
  display: inline-block;
  padding-bottom: 35px;
  border-bottom: 1px solid #b0b0c5;
  margin-bottom: 20px;

}

.news--main1 {
  display: inline-block;
  padding-bottom: 35px;
  border-bottom: 1px solid #b0b0c5;
  margin-bottom: 20px;
  margin-right: 70px;

}

.news--main .news__link {
  display: flex;
  align-items: flex-start;
}
.news--main .news__thumbnail {
  margin-bottom: 0;
  margin-right: 40px;
  min-width: 440px;
}

/**
* news-list
*/
.news-list {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin-bottom: 35px;
}

.news-list .news-list__news--main {
  grid-column: span 3;
}

.news-list__news {
  grid-column: span 1;
}

/**
* -----------
* Trumps
* -----------
*/


/**
* single
*/
.page-single {
  text-align: justify;
}

.page-single__header {
  margin-bottom: 75px;
}

.page-single__title {
  margin: 0;
  font-size: 5.6em;
  line-height: 1.4;
  font-weight: 500;
}

.page-single__subtitle {
  margin:auto;
  font-size: 3.2em;
  font-weight: 200;
}

.page-single__title1 {
  margin-left: 90px;
  margin-right: 90px;
  font-size: 5.6em;
  line-height: 1.4;
  font-weight: 500;
}

.page-single__subtitle1 {
  margin-left: 90px;
  margin-right: 90px;
  font-size: 3.2em;
  font-weight: 200;
}

/**
* decouvrez-notre-librairie
*/
.container.decouvrez-notre-librairie {
  text-align: center;

}

/**
* index
*/
.index-title {
  text-align: center;
  margin-bottom: 35px;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 200;
}

.headersingle {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
  width: 1440px;
  height: 230px;
  background: url("../img/background.jpg");
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
}

.parents {
display: flex;
 }

.enfant1 {
  display: flex;
  flex-direction: column;
  }

.bloc-citation{
display: flex;
}

.citation {
color: #e8a27d;
font-family: Montserrat;
font-size: 24px;
border-left: 1px solid #B9BBAE;
height: 90px;
padding-left: 20px;
margin-bottom: 50px;
}

.citation1 {
color: #e8a27d;
font-family: Montserrat;
font-size: 24px;
border-left: 1px solid #B9BBAE;
height: 55px;
padding-left: 20px;
margin-bottom: 50px;
}

.auteur {
color: #1a1a1a;
text-align: right;
font-family: 'Work Sans';
font-size: 16px;
}

.news-grid {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin: 35px auto;
  justify-content: center;
  width: 1194px;
}

.news-grid2 {
  grid-column: span 2;
}

.news-grid4 {
  grid-column: span 4;

}

.news-grid4 .news__link {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  width: 1194px;

}

.news-grid1 {
grid-column: span 1;
}

.news-grid3 {
grid-column: span 3;
}




